.login__button {
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    border-radius: 24px;
    opacity: 1;
    color: #F88634;
}

.lostpassword__text {
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
}

.noaccout__text {
    text-align: center;
    letter-spacing: 0px;
    color: #414141;
}

img {
    max-height: 100vh;
}

@media (min-width:1440px) {
    img {
        min-height: 100vh;
    }
}

@media (max-width:1439px) and (min-width:1024px){
    img{
        min-height:100vh;
    }
}
