
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using System.Globalization;
@using CI_Platfrom.Entities.Models.ViewModel;

@{
    Layout = "~/Views/Shared/_UserProfileHeader.cshtml";
}

@model ProfileVM

<div class="container">
    <div class="row">
        <div class="col">
            <h3>@Model.CmsPage.Title</h3>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div>
                @Html.Raw(Model.CmsPage.Description)
            </div>
        </div>
    </div>
</div>








