@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/datatables.css" >
    <link rel="stylesheet" href="~/css/datatables.min.css" >
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <style>
            .nav-pills .nav-link.active, .nav-pills .show>.nav-link{ 
                background-color: #FFFFFF ; 
                color: #F88634;
                
                
            }
            .nav-pills .nav-link{
                color:white;
            }
            .orange__color {
                color:#F88634;
                background-color: #F88634;
            }
    </style>
</head>
<body class="container-fluid">
    <div class="d-flex align-items-start row">
        
        <div class="orange__color col-2 nav flex-column nav-pills min-vh-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
         
            <span class="text-white ms-4 mt-5 pt-5  mb-2">Navigation</span>
            <button class="nav-link  active text-start activeBtn ms-2 me-2 mb-2" id="v-pills-User-tab" data-bs-toggle="pill" data-bs-target="#v-pills-User" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
              <i class="bi bi-person ms-2"></i>   
              User
            </button>
            <button class="nav-link mb-2 text-start  ms-2 me-2" id="v-pills-CMSPage-tab" data-bs-toggle="pill" data-bs-target="#v-pills-CMSPage" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
              <i class="bi bi-file-earmark-text"></i>
              CMS Page
            </button>
            <button class="nav-link mb-2 text-start ms-2 me-2" id="v-pills-Mission-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Mission" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
              <i class="bi bi-bullseye"></i>
              Mission
            </button>
            <button class="nav-link mb-2 text-start ms-2 me-2" id="v-pills-MissionTheme-tab" data-bs-toggle="pill" data-bs-target="#v-pills-MissionTheme" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <i class="bi bi-grid-1x2"></i>
              Mission Theme
            </button>
            <button class="nav-link mb-2 text-start ms-2 me-2" id="v-pills-MissionSkills-tab" data-bs-toggle="pill" data-bs-target="#v-pills-MissionSkills" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <i class="bi bi-tools"></i>
              Mission Skills
            </button>
            <button class="nav-link mb-2 text-start ms-2 me-2" id="v-pills-MissionApplication-tab" data-bs-toggle="pill" data-bs-target="#v-pills-MissionApplication" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <i class="bi bi-folder2"></i>
              Mission Application
            </button>
            <button class="nav-link mb-2 text-start ms-2 me-2" id="v-pills-Story-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Story" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <i class="bi bi-journal-medical"></i>
              Story
            </button>
            <button class="nav-link mb-2 text-start ms-2 me-2" id="v-pills-BannerManagement-tab" data-bs-toggle="pill" data-bs-target="#v-pills-BannerManagement" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
              <i class="bi bi-emoji-wink"></i>
              Banner Management
            </button>
          
        </div>
        <div class="tab-content col-10" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-User" role="tabpanel" aria-labelledby="v-pills-User-tab">A</div>
          <div class="tab-pane fade" id="v-pills-CMSPage" role="tabpanel" aria-labelledby="v-pills-CMSPage-tab">B</div>
          <div class="tab-pane fade" id="v-pills-Mission" role="tabpanel" aria-labelledby="v-pills-Mission-tab">.c.</div>
          <div class="tab-pane fade" id="v-pills-MissionTheme" role="tabpanel" aria-labelledby="v-pills-MissionTheme-tab">MissionTheme</div>
          <div class="tab-pane fade" id="v-pills-MissionSkills" role="tabpanel" aria-labelledby="v-pills-MissionSkills-tab">.MissionSkills.</div>
          <div class="tab-pane fade" id="v-pills-MissionApplication" role="tabpanel" aria-labelledby="v-pills-MissionApplication-tab">
            <div class="table-responsive">
              <table class="table border" id="DataTablesId">
                <thead style="background-color: #f9f9f9;">
                  <tr>
                    <th scope="col">Mission Title</th>
                    <th scope="col">Mission Id</th>
                    <th scope="col">User Id</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Applied Date</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">Grow Trees</td>
                    <td>1</td>
                    <td>1</td>
                    <td>Dev Patel</td>
                    <td>10-04-2023</td>
                    <td>
                      <button class="border-0 bg-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="text-success bi bi-check-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                        </svg>
                      </button>

                      <button class="border-0 bg-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="text-danger bi bi-x-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                      </button>                          

                      
                    </td>
                  </tr>

                  <tr>
                    <td scope="row">Plant Trees</td>
                    <td>1</td>
                    <td>1</td>
                    <td>Bhavik Parmar</td>
                    <td>15-05-2020</td>
                    <td>
                      
                      <button class="border-0 bg-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="text-success bi bi-check-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                        </svg>
                      </button>

                      <button class="border-0 bg-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="text-danger bi bi-x-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                      </button>                          

                      
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-Story" role="tabpanel" aria-labelledby="v-pills-Story-tab">.story.</div>
          <div class="tab-pane fade" id="v-pills-BannerManagement" role="tabpanel" aria-labelledby="v-pills-BannerManagement-tab">BannerManagement</div>
        </div>
      </div>

      
       <script src="~/lib/jquery/dist/jquery.min.js"></script>
      <script src="~/js/datatables.js"></script>
      <script src="~/js/datatables.min.js"></script>
      <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      
      <script>
        $(document).ready(function(){
          $('#DataTablesId').DataTable({
            info:false,
            lengthChange:false,
            dom: '<"float-start"f><"#DataTablesId"t>i<"#paginatorId"lp>',
            
            
          });
        });
      </script>
</body>
</html>