
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model (ContactU, User) 

 <style>
       .orange_color{
          border: 2px solid #F88634;
          color:#F88634;
          }
          .hide{
              display:none;
          }
  </style>

<!-- Modal -->
    <div class="modal-content">
     <form method="post"  >
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
            <button type="button" class="btn-close" id="closeButtonContactUs" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
      
                  <div class="mb-3">
                        <label for="UserName" class="form-label">Name</label>
                        <input readonly type="text"  value="@Model.Item2.FirstName @Model.Item2.LastName" class="form-control" id="UserName" aria-describedby="emailHelp">
                
                  </div>

                   <div class="mb-3">
                        <label for="UserEmailId" class="form-label">Email address</label>
                        <input readonly type="email"  value="@Model.Item2.Email" class="form-control" id="UserEmailId" aria-describedby="emailHelp">
                
                  </div>

                      <label >Subject</label>
                      <input oninput="ContactUsRemoveValidation()" type="text" class="form-control"  placeholder="Enter Subject here" id="ContactusSubject">
                       <span id="subjectValidation" class="text-danger hide">Subject is Required so kindly please Enter</span>

                      <div class="mt-3">
                      <label >Message</label>
                      <textarea oninput="ContactUsRemoveValidation()" class="form-control"  placeholder="Enter Message here" id="ContactUsMessage"></textarea>
                      <span id="messageValidation" class="text-danger hide">Message is Required so kindly please Enter</span>
                      </div>



          </div>
          <div class="modal-footer">
                        <button type="button" class="px-3 py-1  text-center rounded-pill bg-white"  data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="px-3 py-1  orange_color rounded-pill bg-white border-2" onclick="ContactUsSubmit()">Submit</button>
          </div>
       </form>

    </div>


  