@using CI_Platfrom.Entities.Models.ViewModel

@model ConfirmPasswordVM

@{
ViewData["Title"] = "Registration";
}

  <div class="container-fluid">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-xl-8">
        <partial name="_Banner" />
        <!-- <img src="./images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="img-fluid" alt="Grow-Trees-On-the-path-to-environment-sustainability-login" /> -->
      </div>
      <div class="col-12 col-xl-4 d-flex flex-column mt-2 flex-sm-row justify-content-center align-items-center">

        <form class="form mt-3 w-75" method="post" onsubmit="return checkValidation()" asp-controller="Registration" asp-action="Register" >

          <div class="mb-1 mb-sm-3">
            <h6><label asp-for="User.FirstName" class="form-label">First Name</label></h6>
            <input type="text"  asp-for="User.FirstName" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="evan" />
             <span asp-validation-for="User.FirstName" class="text-danger"></span>
          </div>

          <div class="mb-1 mb-sm-3">
            <h6><label asp-for="User.LastName" class="form-label">Last Name</label></h6>
            <input type="text" asp-for="User.LastName" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="donohue" />
            <span asp-validation-for="User.LastName" class="text-danger"></span>
          </div>

          <div class="mb-1 mb-sm-3">
            <h6>
              <label asp-for="User.PhoneNumber" class="form-label">Phone Number</label>
            </h6>
            <input type="text"   asp-for="User.PhoneNumber" oninput="removeValidation()" id="PhoneNumber" class="form-control"  aria-describedby="emailHelp" placeholder="8923454615" />
            <span class="text-danger" id="PhoneNumberValidation"></span>
          </div>

          <div class="mb-1 mb-sm-3">
            <h6>
              <label asp-for="User.Email" class="form-label">Email address</label>
            </h6>
            <input asp-for="User.Email" class="form-control" id="Email" aria-describedby="emailHelp"
              placeholder="evan.donohue@gmail.com" />
              <span asp-validation-for="User.Email" class="text-danger"></span>
          </div>

          <div class="mb-1 mb-sm-3">
            <h6><label asp-for="User.Password" class="form-label">Password</label></h6>
            <input type="password" asp-for="User.Password" class="form-control"  placeholder="**********" />
            <span asp-validation-for="User.Password" class="text-danger"></span>
          </div>

         <div class="mb-1 mb-sm-3">
            <h6>
              <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
            </h6>
            <input type="password" asp-for="ConfirmPassword" class="form-control"   placeholder="**********" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
          </div>

          <div class="mb-1 mb-sm-3">
            <input type="submit" class="btn btn-primary rounded-end-circle w-100 h-auto p-2 mt-2 login__button"
              value="Register" />
          </div>

          <div class="mb-1 mb-sm-3 text-center">
            <span class="lostpassword__text fst-NotoSans-Light"><a asp-controller="Authentication" asp-action="forgotPassword"
                class="text-decoration-none">Lost your password?</a></span>
          </div>

          <div class="mb-1 mb-sm-3 text-center">
            <span class="noaccout__text ">Already register?<a asp-controller="Authentication" asp-action="login"
                class="text-decoration-none">Login now</a></span>
          </div>

          <div class="col text-center mt-5 mt-sm-0 mt-xl-5 pt-xl-5">
            Privacy Policy
          </div>

        </form>
      </div>
    </div>
  </div>
  <script>
      function checkValidation() {
          var phoneNumber = $('#PhoneNumber').val();
          var regEx = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/;

          if(phoneNumber.match(regEx) == null) {
              $('#PhoneNumberValidation').html("Please Enter Correct 10 digit mobile Number");
              return false;
          }
      }
      function removeValidation() {
          var input = event.target.getAttribute('id');
          $('#'+ input + "Validation").html('');
      }
  </script>

